<nav class="navbar header">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../assets/images/logo02.png" alt="logo" width="115" height="55">
        </a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="reservation">Make a Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactus">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>