<nav class="navbar header">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/images/logo01.png" alt="logo" width="115" height="55">
        </a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Special offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>