.footer {
  background-color: #3e1404;
}

.footer .right-text-content p {
  vertical-align: middle;
  color: #D3D3D3;
  font-size: 20px;
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 38px;
}

.footer .left-text-content {
  text-align: left;
  vertical-align: middle;
  padding-top: 23px;
}

.footer .logo {
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.footer .left-text-content ul li {
  display: inline-block;
  margin-left: 15px;
}


.footer .left-text-content #youtube{
  color: #ff0000;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  background-color: #f7dbbb; 
  border-radius: 50%;
}

.footer .left-text-content #twitter{
  color: #1da1f2;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  background-color: #f7dbbb; 
  border-radius: 50%;
}

.footer .left-text-content #instagram{
  color: #dd2a7b;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  background-color: #f7dbbb; 
  border-radius: 50%;
}

