<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                    <p> &copy; Copyright Food Paradise Co.</p>
                </div>
            </div>
            <div class="col-lg-4"> 
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo02.png" alt="" width="180" height="80"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <ul class="social-icons">
                        <li><a href="https://youtube.com/c/YourFoodLab"><i id="youtube" class="fa fa-youtube"></i></a></li>
                        <li><a href="https://twitter.com/Namitha_sk?s=08"><i id="twitter" class="fa fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/namitha.s.k?igshid=cjhxv9ijj7k7"><i id="instagram" class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>