.about{
    background-color: #D3D3D3;
    min-height: 500px;
    padding: 1% 0;
}

h1{
  padding-top: 30px;
  margin-left: 125px;
  font-family: Brush Script MT;
  letter-spacing: 5px;
  font-size: 55px;
  color: #3e1404;
  font-weight: 250;
}

#about {
    margin-top: 20px;
    padding-bottom: 30px;
    position: relative;
}
  
.left-text-content .row{
    margin-top: 80px;

}

img {
    width: 100%;
    overflow: hidden;
}
  
.left-text-content p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8;
    color: #3e1404;
}
  
.right-img-content {
    margin-left: 0px;
}
  
.right-img-content  {
    position: relative;
}

.right-img-content img{
    height: 350px;
    width: 400px;
}
