<div class="about">
<h1>About Us</h1>
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8">
                <div class="left-text-content">
                    <p>Food Paradise is a superfood cafe and restaurant. We believe in real food and that everyone
                        deserves access to real food. We provide a variety of quick and nutritious option to customers.
                        The demand of the healthy food is on rise and we are determined to meet that demand.<br> We
                        offer Desserts, Beverages, Fast Foods and all kind of Dinner foods.</p>
                    <div class="row">
                        <div class="col-3">
                            <img src="assets/images/cappuccino.jpg" alt="cappuccino">
                        </div>
                        <div class="col-3">
                            <img src="assets/images/pasta01.jpg" alt="pasta">
                        </div>
                        <div class="col-3">
                            <img src="assets/images/tteokbokki.jpg" alt="tteokbokki">
                        </div>
                        <div class="col-3">
                            <img src="assets/images/soup01.jpg" alt="soup">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="right-img-content">
                    <img src="assets/images/steak01.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
</div>
