<div class="row row-cols-1 row-cols-md-4">
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/Chocolate-Macarons.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chocolate Macarons</h2>
                <p class="card-text">These Vegan Chocolate Macarons are rich tasting, with a slightly crunchy shell, and a creamy filling.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/dessert02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Red Velvet</h2>
                <p class="card-text">The most incredible red velvet cake with cream cheese frosting. fluffy, soft, buttery and moist with the most perfect velvet texture.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Puff-Pastry.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Puffy Pastry</h2>
                <p class="card-text">Combining Frozen Puff Pastry, fresh Apples and a Applesauce Filling, these Mini Apple Tarts make a delicious afternoon tea sweet treat or breakfast.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/ice-cream.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Mango Ice Cream</h2>
                <p class="card-text">Creamy, soft and delicious Mango ice cream.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/choco-chip-cookies.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Choco Chip Cookies</h2>
                <p class="card-text">Classic chocolate chip cookies made without the dairy butter, milk or eggs.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/chocolate-chip-ice-cream.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Choco Chip Ice Cream</h2>
                <p class="card-text">A creamy and smooth choco chips ice cream.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Apple-Pie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Apple Pie</h2>
                <p class="card-text">Apple pie has a flakey butter crust and tender apple filling that's bursting with flavor and perfectly sweet.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/dessert04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Rainbow Cake</h2>
                <p class="card-text">Not only is this rainbow cake beautiful and colorful, but it also tastes really delicious.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/lava-cake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Lava Cake</h2>
                <p class="card-text">This molten chocolate lava cake is cakey on the outside, with an irresistible, molten chocolate center.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/pie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Blueberry Pie</h2>
                <p class="card-text">The filling is bursting with sweet, juicy blueberries and tastes amazing with vanilla ice cream.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/chocolate-pastry.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chocolate Pastry</h2>
                <p class="card-text">The lavish layers of smooth whipped cream along with the combination of melting chocolate and buttery pastry makes this utopian sugary delight.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/pudding.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Custard Pudding</h2>
                <p class="card-text">The creme caramel is simply the one dessert you need to try if you haven't yet.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/strawberry-pie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Strawberry Pie</h2>
                <p class="card-text">Pies are one of the sweetest and heavenly desserts that anyone can have, and if there is one that shines over the rest, it is the Strawberry Pie.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/chocolate-mousse.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Classic Chocolate Mousse</h2>
                <p class="card-text">Perfect Chocolate Mousse. Decadently creamy, light and billowy, and indulgently chocolaty.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/dessert03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Caramel Cake</h2>
                <p class="card-text">Caramel Cake Is Tender And Tasty, With Layers Of Light Cake Smothered With Caramel Frosting And Topped Off With Caramel Syrup.</p>
            </div>
        </div>
    </div>
    

    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Rasberry-cocoa-dome.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/paratha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Dark-Chocolate-Mocha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/burger01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/coffee.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/juice02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/biryani01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/salad01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Carbonara.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/espresso.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="reservation">
        <a href="reservation" target="">Make a Reservation</a>
    </div> -->
</div>