<div class="text-block"
    style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/bg02.jpg'); background-size: cover;">
    <div class="font-heading">
        <h6>Food Paradise</h6>
    </div>
    <p class="font-style">MENU</p>
    <div class="row col-md-12">


        <div class="card mb-3" style="max-width: 500px; ">
            <a href="desserts">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/images/chocolate-pastry.jpg" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Desserts</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="card mb-3" style="max-width: 500px;">
            <a href="beverages">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/images/coffee.jpg" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Beverages</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            </a>
        </div>

    </div>
    <div class="row col-md-12">
        <div class="card mb-3" style="max-width: 500px;">
            <a href="fastfood">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/images/pizza01.jpg" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fast Food</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class="card mb-3" style="max-width: 500px;">
            <a href="dinner">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/images/steak01.jpg" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Dinner</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>