<div class="text-block"
    style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/bg02.jpg'); background-size: cover;">
    <div class="font-heading">
        <h6>Food Paradise</h6>
    </div>
    <p class="font-style">MENU</p>
    <div class="row col-md-12 my-5 pt-4">


        <div class="card mr-5 " style="max-width: 500px; background-color: #d3d3d3;">
            <a [routerLink]="['/menuList/', 'DE']">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../assets/images/chocolate-pastry.jpg" alt="...">
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="card-body">
                            <h5 class="card-title">Dessert</h5>
                            <p class="card-text">The best and all kind of dessert spot is here. Our Paradise serves some
                                of the best and is a treat to your taste buds.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="card ml-4" style="max-width: 500px; background-color: #d3d3d3;">
            <a [routerLink]="['/menuList/', 'BE']">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../assets/images/coffee.jpg" alt="...">
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="card-body">
                            <h5 class="card-title">Beverage</h5>
                            <p class="card-text">Here is the great collection of Beverage and we have dfferent type of coffee, tea, hot chocolate, juice and soft drinks.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="row col-md-12">
        <div class="card mr-5" style="max-width: 500px; background-color: #d3d3d3;">
            <a [routerLink]="['/menuList/', 'FA']">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../assets/images/pizza01.jpg" alt="...">
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="card-body">
                            <h5 class="card-title">Fast Food</h5>
                            <p class="card-text">Instant Food, for Instant Hunger. <br>FAST GOOD FOOD.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="card ml-4" style="max-width: 500px; background-color: #d3d3d3;">
            <a [routerLink]="['/menuList/', 'DI']">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../assets/images/steak01.jpg" alt="...">
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="card-body">
                            <h5 class="card-title">Dinner</h5>
                            <p class="card-text">Our paradise is a perfect place for dinner. Check our dinner menu and deside what you want to eat.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>