<div class="row row-cols-1 row-cols-md-4">
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/Neapolitan-Pizza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Neapolitan Pizza</h2>
                <p class="card-text">The typical Neapolitan pizza toppings are fresh mozzarella, tomatoes, basil leaves, oregano, and olive oil.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/pretzels.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Pretzels</h2>
                <p class="card-text">Chocolate Covered Pretzels are sweet, salty, and crunchy, made with pretzel twists, melted chocolate and flaky sea salt.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Big-Crunch-Chicken-Cheese-Burger.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Cheese Burger</h2>
                <p class="card-text">The Ultimate Chicken Cheese Burger is consist of spicy mayo sauce, crisp lettuce, smoky Chicken and slices of cheese.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/cheese-sandwich.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Cheese Sandwich</h2>
                <p class="card-text">Grilled Cheese Sandwich is soft melted cheese and pressed, buttery toast.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/French-fries01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">French Fries</h2>
                <p class="card-text">Crunchy and crispy French fries is waiting for you.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/crispy-veg-wrap.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Crispy Veg Wrap</h2>
                <p class="card-text">Healthy and delicious veggie wraps with a delicious juice fusion drink to go with it.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Nachos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Munch-On Nachos</h2>
                <p class="card-text">Tortilla chips are heated and cheese is topped on it. Best taste for Mexican Nachos.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/donuts.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Donuts</h2>
                <p class="card-text">Classic Vanilla donuts are very light, fluffy, smooth and just sweet delicious fried similar to danish pastry in beautiful round shape.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Chilli-Cheese-Toastizza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chilli Cheese Toastizza</h2>
                <p class="card-text">Veg Chilli Cheese Toast as its name suggest is a toast made from cheese, chilli and some veggies spread on top. </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Smoked-Chicken-Sandwich.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Sandwich</h2>
                <p class="card-text">Are you a fan of sandwiches? Try this Grilled Chicken Sandwich, which is a delicious way to satisfy your growling stomachs.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Big-Crunch-Veg-Cheese-Burger.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Veg Cheese Burger</h2>
                <p class="card-text">You will absolutely love the super crispy veggie patties loaded onto soft butter toasted buns, topped with onion, tomatoes, lettuce and a creamy delicious dressing.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Peppy-Chicken-Roll.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Roll</h2>
                <p class="card-text">Chicken Roll is a lip smacking roll of a flaky tawa paratha stuffed with a flavourful chicken filling.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/The-Couch-Potato-Sandwich.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Couch Potato Sandwich</h2>
                <p class="card-text">A delicious beverage with a taste couch potato sandwich is damn good.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/mexican-tacos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Mexican Tacos</h2>
                <p class="card-text">The whole thing is filled inside crisp shell with cheese, onions, lettuce and tomatoes.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/chicken-burrito.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Burrito</h2>
                <p class="card-text">A super-filling meal stuffed with various filling like seasoned rice, tangy mexican salsa, grilled fajitas, sauteed spicy chicken, sour cream, cucumber and cheese.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Sicilian-Pizza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Sicilian Pizza</h2>
                <p class="card-text">Sicilian pizza, provides a thick cut of pizza with pillowy dough, a crunchy crust, and robust tomato sauce.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Hotdog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Hot dog</h2>
                <p class="card-text">Grilled hot dogs topped with creamy, curried remoulade sauce, fresh pickled cucumbers and crispy fried shallots.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/MozzarellaStickOnionRings.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Mozzarella Onion Rings</h2>
                <p class="card-text">Ultra-crunchy onion rings and melty mozzarella sticks combine to make a food mash-up that's out of this world.</p>
            </div>
        </div>
    </div>

    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/burger01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/coffee.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/juice02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/biryani01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/salad01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Carbonara.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/espresso.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->

    <!-- <div class="reservation">
        <a href="reservation" target="">Make a Reservation</a>
    </div> -->
</div>