.text-block {
    margin: 0;
    min-height: 624px;
    padding: 5% 0;
  }
  
  h1{
    font-family: Brush Script MT;
    font-weight: 10;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px; 
    padding: 13% 0 0 0;
    color: #D3D3D3;
  }
  
p{
    font-family: 'Proza Libre', sans-serif;
    font-weight: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px; 
    color: #D3D3D3;
  }