<div class="reservation">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border border-light" style="background-color: #d3d3d3; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); ">
                <h2>Table Reservation</h2>
                <p>please reserve at least 24 hours in advance for reservation of table.<br>
                <span *ngIf="errmsg" style="color: red; font-size: 15px; text-align: center;">
                    Reserve Before 24 hours.
                </span>
                </p>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">

                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label for="Name">Name</label>
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control" [(ngModel)]="model.Name" #Name="ngModel"
                                    [ngClass]="{'is-invalid':Name.touched && Name.invalid}" name="Name" required />
                                    <div class="col-1"></div>
                                <div class="invalid-feedback">
                                    <div>Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label for="mobileNumber">Mobile Number</label>
                            </div>
                            <div class="col-7">
                                <input type="number" class="form-control" 
                                    [(ngModel)]="model.mobileNumber" #mobileNumber="ngModel"
                                    [ngClass]="{'is-invalid':mobileNumber.touched && mobileNumber.invalid}"
                                    name="mobileNumber" placeholder="498-348-3872" pattern="(\d{3})-?\s?(\d{3})-?\s?(\d{4})" required />
                                    <div class="col-1"></div>
                                <div class="invalid-feedback">
                                    <div>Mobile number is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-7">
                                <input type="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                                    [ngClass]="{'is-invalid':email.touched && email.invalid}" name="email" required
                                    email />
                                    <div class="col-1"></div>
                                <div *ngIf="f.touched && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">Email must be a valid email Address</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label>Number of Tables <br> <span>(number of seats = 4 / table)</span></label>
                            </div>
                            <div class="col-7"> 
                                <select class="form-control" id="exampleFormControlSelect1" name="guests" ngModel>
                                    <option value="" selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label for="Date">Date</label>
                            </div>
                            <div class="col-7">
                                <input type="date" (change)="onChange($event.target.value)" class="form-control" [(ngModel)]="model.Date" #Date="ngModel"
                                    [ngClass]="{'is-invalid':Date.touched && Date.invalid}" name="Date" required />
                                    <div class="col-1"></div>
                                <div class="invalid-feedback">
                                    <div>Date is required</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label for="Time">Time</label>
                            </div>
                            <div class="col-7">
                                <input type="time" class="form-control" [(ngModel)]="model.Time" #Time="ngModel"
                                    [ngClass]="{'is-invalid':Time.touched && Time.invalid}" name="Time" required />
                                    <div class="col-1"></div>
                                <div class="invalid-feedback">
                                    <div>Time is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <div class="row btn-1">
                            <div class="col-12" style="text-align: center;">
                                    <button type="submit" class="btn btn-info" [disabled]="!f.valid">Make a
                                        Reservation
                                    </button>
                            </div>


                            <button type="button" (click)="onSubmit(f)" class="btn btn-info">Make a
                                Reservation
                            </button>
                            <!-- <button class="btn-md btn-success successmsg" *ngIf="successMsg">
                                Thank You For Reservation!!
                            </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>