<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/strawberry-milkshake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Strawberry Milkshake</h2>
                <p class="card-text">Strawberry Milkshake creamy, rich and delicious milkshake made with fresh strawberries.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/cherry-juice01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Cherry Juice</h2>
                <p class="card-text">Cherry juice is a refreshingly delicious and nutritious rich drink. This juice contains no preservatives that's why it's very good for health. </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/cappuccino.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Cappuccino</h2>
                <p class="card-text">A cappuccino is one part espresso mixed with one part steamed milk, then topped with one part foamed milk.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/blueberry-smoothie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Blueberry Smoothie</h2>
                <p class="card-text">Creamy and refreshing blueberry smoothie is made with juice, yogurt, frozen blueberries all blended together into a frosty drink.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/chocolate-milkshake.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chocolate Milkshake</h2>
                <p class="card-text">Chocolate Lovers, welcome! This is the chocolatiest, chocolatey, chocolate milkshake of all time.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/coffee.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Coffee</h2>
                <p class="card-text">Our coffee is a medium roast blend of coffees from Central America.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/green-tea.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Green Tea</h2>
                <p class="card-text">Green tea is more than just a hydrating beverage.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Hot-Chocolate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Hot Chocolate</h2>
                <p class="card-text">This is hands down the best hot chocolate you'll ever taste.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/smoothie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Strawberry Smoothie</h2>
                <p class="card-text">This Strawberry Smoothie with Yogurt is deliciously thick and creamy. Not only is it yummy, but also healthy.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/lemonade.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Lemonade</h2>
                <p class="card-text">This honey sweetened lemonade is a great way to get rid of zested lemons.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/rainbow-smoothie.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Rainbow Smoothie</h2>
                <p class="card-text">Rainbow Smoothie with a beautiful 7 layer rainbow! Full of tons of fruit and topped with a fruit skewer, it’s the ultimate rainbow smoothie.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/espresso.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Espresso</h2>
                <p class="card-text">For coffee purists, espresso is the quintessential coffee preparation. A natural layer of crema on top belying a full-bodied, yet deftly balanced liquid below.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/coffee-latte.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Latte</h2>
                <p class="card-text">The hot milk and creamy milk foam are imbued with the delicious flavour of coffee for a spectacular, sumptuous result. This will delight all gourmets.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/iced-americano.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Iced Americano</h2>
                <p class="card-text">When it’s too hot for coffee, don’t fret. An iced Americano is the perfect way to get your fix and keep your cool.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/iced-tea.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Iced Tea</h2>
                <p class="card-text">Nothing cools you down on a hot summer day like a tall glass of iced tea.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/masala-tea.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Masala Tea</h2>
                <p class="card-text">A Masala tea beverage made by boiling black tea in milk and water with a mixture of aromatic herbs and spices.</p>
            </div>
        </div>
    </div>

    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/paratha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
    
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Dark-Chocolate-Mocha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Dark Chocolate Mocha</h2>
                <p class="card-text">Espresso combined with cocoa, ground chocolate and topped with steamed milk delivers a brilliant combination of sweetness.</p>
            </div>
        </div>
    </div>

    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/burger01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/coffee.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
    
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/juice02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Mango Juice</h2>
                <p class="card-text">This Mango Juice is made with no added sugar yet it is sufficiently sweet, fruity and so refreshing.</p>
            </div>
        </div>
    </div>

    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/salad01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Carbonara.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/espresso.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
     -->
    
     <div class="reservation">
        <a href="reservation" target="">Make a Reservation</a>
    </div>
</div>