<div class="row row-cols-1 row-cols-md-4">
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/pasta01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Fusilli Pasta</h2>
                <p class="card-text">This fusilli pasta is perfectly paired with a sweet & spicy sausage ragu sauce that is not only easy to make but is simply delicious in taste.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/bibimbap01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Bibimbap</h2>
                <p class="card-text">Bibimbap is a Korean rice bowl filled with assorted vegitable, gochujang sauce, an egg, and meat.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/chicken-broth.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Broth</h2>
                <p class="card-text">Light, hearty and delicious, chicken broth is super tasty.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Chicken-Fried-Rice.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Fried Rice</h2>
                <p class="card-text">Digging into a bowl of chicken fried rice is digging into a bowl of heaven.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/tteokbokki.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Tteokbokki</h2>
                <p class="card-text">Tteokbokki is a Korean street food snack made primarily of chewy rice cakes and fiery, funky gochujang chili paste.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/soup02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Potato Cream Soup</h2>
                <p class="card-text">This Creamy Loaded Potato Soup is smooth, creamy, and delicious.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/tossed-salad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Tossed Salad</h2>
                <p class="card-text">The fresh blend of avocados, tomatoes, red onion and greens in my salad gets additional pizazz from crumbled bacon and a slightly spicy vinaigrette.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/steak01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Steak</h2>
                <p class="card-text">The chicken is marinated in a lovely marinade that is bursting with flavours that include fresh parsley , lemon, garlic and mixed herbs.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/cornbread-dressing.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Cornbread Dressing</h2>
                <p class="card-text">Thanksgiving dinner is complete when you eat a Cornbread Dressing.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/fish-fry.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Fish Fry</h2>
                <p class="card-text">Coated with a flavorsome masala and fried in coconut oil, this fish fry is the best.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/veg-fried-rice.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Veg Fried Rice</h2>
                <p class="card-text">An tasty weeknight meal featuring rice loaded with Chinese flavor.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/omelet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Omelet</h2>
                <p class="card-text">A wonderful omelet with fresh vegetables and ham.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/pasta02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Cream White Sauce Pasta</h2>
                <p class="card-text">Super tasty and delicious Creamy White Sauce Penne Pasta is packed with flavor.</p>
            </div>
        </div>
    </div>
    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/soup01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/pan-seared-salmon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Pan Seared Salmon</h2>
                <p class="card-text">Golden-crisp on top and just barely cooked in the center.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/biryani01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Chicken Biryani</h2>
                <p class="card-text">Biryani is beautiful melange of chicken layered with long grain basmati rice and then slow cooked. </p>
            </div>
        </div>
    </div>
    <!-- <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/paratha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div> -->
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/ramen.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Sriracha Shrimp Ramen</h2>
                <p class="card-text">These Spicy Shrimp Ramen Bowls have tender shrimp, crisp veggies and spicy Sriracha.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/salmon-patties.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Salmon Patties</h2>
                <p class="card-text">These salmon patties are flaky, tender and so flavorful. The crisp edges and big bites of flaked salmon are the hallmark of these salmon patties.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Thai-Basil-Fried-Rice.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Thai Basil Fried Rice</h2>
                <p class="card-text">This thai basil fried rice cooked with Shrimps. Thai basil fried rice with shrimp is definitely gives a delicious taste.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/omurice.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Omurice</h2>
                <p class="card-text">Omurice is an omelet wrapped around fried rice and topped with ketchup.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/biryani.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Egg Biryani</h2>
                <p class="card-text">Boiled eggs and rice cooked in masala gravy in pressure cooking method.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Tomato-Soup.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Creamy Tomato Soup</h2>
                <p class="card-text">This delicious Creamy Tomato Soup with Cheesy Croutons is nourishing, filling.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../assets/images/Carbonara.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Carbonara</h2>
                <p class="card-text">We’ve got traditional and vegan versions of Carbonara.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 ">
            <img src="../../assets/images/fried-chicken.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Fried Chicken</h2>
                <p class="card-text">Chicken is one of the most loved meats around the world and here is a dish that never fails.</p>
            </div>
        </div>
    </div>
    <!-- <div class="reservation">
        <a href="reservation" target="">Make a Reservation</a>
    </div> -->
</div>