.contact{
    background-color: #d3d3d3;
    text-align: center;
    min-height: 624px;
    padding: 5% 0;
}

::placeholder{
    font-size: 13px;
    color: rgb(167, 166, 166);
}

h1{
    /* padding-top: 50px; */
    font-family: Brush Script MT;
    letter-spacing: 5px;
    font-size: 50px;
    color: #3e1404;
    font-weight: 250;
}

p{
    /* padding: 1% 0 4% 0; */
    color: #3e1404;
    font-size: 11px;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; 
}

.row{
    background-color: #d3d3d3;
}

label{
    color: #3e1404;
    font-size: 20px;
    /* padding: 0 0 1% 0; */
}

form{
    text-align: center;
    background-color: #d3d3d3;
}

button{
    text-align: center;
    background-color: #d3d3d3;
    color: #3e1404;
    border: 2px solid #3e1404;
    border-radius: 8px;
    /* padding: 1% 2% 1% 2%; */
    /* margin-top: 20px;      */
}