<div class="contact">
    <h1>Contact Us</h1>
    <p>Have any Queries?<br>Feel free to contact us by telephone or email and we will be sure to get back to you as soon
        as possible.</p>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="col-12">
                    <div class="phone">
                        <span class="material-icons">call</span>
                        <h4>Phone Number</h4>
                        <h3>
                            <a href="tel:1800 102 5093">1800 102 5093</a>
                        </h3>
                    </div>
                </div>

                <div class="col-12">
                    <div class="message">
                        <span class="material-icons">mail</span>
                        <h4>Email</h4>
                        <h3>
                            <a href="mailto: foodparadise@gmail.com">foodparadise@gmail.com</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                      <label for="Name">Drop a Message</label>
                      <input type="text" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="feedback" rows="3" placeholder="Message"></textarea>
                    </div>
                  </form>
                <!-- <form>
                    <label for="feedback">Feedback</label>
                    <input type="text" placeholder="Name">
                    <textarea class="form-control" id="feedback" rows="3" placeholder="Message"></textarea>
                </form> -->
                <div class="button">
                    <a href="">
                        <button>Submit</button>
                    </a>
                </div>
            </div>  
        </div>
    </div>
</div>