<!-- <div class="card h-100 ">
    <img src="../../assets/images/strawberry-milkshake.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title">Strawberry Milkshake</h2>
        <p class="card-text">Strawberry Milkshake creamy, rich and delicious milkshake made with fresh strawberries.</p>
    </div>
</div> -->

<div class="card m-4" style="width: 18rem;" *ngFor="let menu of filteredMenu">
    <img class="card-img-top" src="../../assets/images/{{menu.image}}" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">{{menu.title}}</h5>
      <p class="card-text">{{menu.description}}</p>
    </div>
  </div>