.left-content {
  /* background-image: url('/assets/images/Left.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f7dbbb;
  position: relative;
  width: 100%;
  height: 600px;
}

.left-content .inner-content {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.left-content h4 {
  font-family: 'Dancing Script', cursive;
  color: #593402;
  font-size: 55px;
  font-weight: 250;
}

.left-content h6 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #593402;
    letter-spacing: 3px;
}

.reservation a{
  background-color: #593402;
  color: #f7dbbb;
  padding: 15px 25px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

.right-content{
  position: relative;
  width: 100%;
  height: 600px;
}




/* .bg-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: rgb(8, 8, 8);
  height: 450px;
  padding-top: 50px;
} */


/* .col-lg-4, .col-lg-8 {
  padding: 0px;
} */

/* .text-block img{
  width: 100%;
  height: 600px;
}
 */

 /* slider */
.text-block {
  margin: 0;
  width: 100%;
  height: 600px;
  font-family: "Roboto", sans-serif;
}

.font-heading h2{
    font-family: 'Proza Libre', sans-serif !important;
    font-weight: 10;
    text-align: left !important;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 7px; 
    color: #f7dbbb;
    /* border: solid rgba(251, 2, 7, 1.00); */
    /* border-width: 0px 0px 4px 0px; */
    /* margin: 0px 0px 30px 0px; */
    padding: 20% 0 0 20.5%;
  }

.font-style-1{
    color: #f7dbbb;
    /* font-size: 100;
    font-weight: 20;
    text-align: left; */
    padding: 0 20% 0 20%;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* .content {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  margin-left: 0;
  left: 0;
  top: 0;
  z-index: 10;
} */
