<div id="homeContent" class="carousel slide" data-ride="carousel">
  <!-- Slide Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#homeContent" data-slide-to="0" class="active"></li>
    <li data-target="#homeContent" data-slide-to="1"></li>
    <li data-target="#homeContent" data-slide-to="2"></li>
  </ul>

  <!-- The slides to show -->

  <div class="carousel-inner">
    <div class="carousel-item active">
      <ng-container>
        <div class="text-block"
          style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../../assets/images/table01.jpg); background-size: cover;">
          <div class="font-heading">
            <h6>Welcome to</h6>
            <h2>Food Paradise</h2>
          </div>
          <p class="font-style">There is a Place like Home</p>
        </div>
      </ng-container>
    </div>

    <div class="carousel-item ">
      <ng-container>
        <div class="text-block"
          style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/pasta02.jpg'); background-size: cover;">
          <div class="font-heading">
            <h6>You can Experience</h6>
          </div>
          <p class="font-style">A Taste of Rich Ingredients & Seasonal Flavours</p>
        </div>
      </ng-container>
    </div>

    <div class="carousel-item ">
      <ng-container>
        <div class="text-block"
          style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/paratha.jpg'); background-size: cover;">
          <div class="font-heading">
            <h6>Our paradise offers you </h6>
          </div>
          <p class="font-style">A Best Tasting Experience!</p>
        </div>
      </ng-container>
    </div>
  </div>


  <!-- Left and right -->
  <a class="carousel-control-prev" href="#homeContent" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#homeContent" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- container -->
<div id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 pl-0 pr-0">
        <div class="left-content">
          <div class="inner-content">
            <h4>FoodParadise</h4>
            <h6>YOUR HAPPY PLACE</h6>
            <div class="reservation">
              <a href="reservation" target="">Make a Reservation</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 pl-0 pr-0">
        <div class="row right-content">
          <div class="col-md-6 align-self-start">
            <img src="../../assets/images/coffee.jpg" alt="coffee" height="300" width="465">
          </div>
          <div class="col-md-6">
            <h1>COFFEE</h1>
            <p>Coffee straight from the land of its inception. Made with a double shot of espresso brewed from a blend of imported coffee beans topped with steamed and foamed milk.</p>
          </div>
        </div>
        <div class="row right-content">
          <div class="col-md-6">
            <h1>BURGER</h1>
            <p>Juicy chicken patty seared to perfection. Then, stuffed between soft oatmeal buns along with fresh veggies. So good, you will be tongue-tied.</p>
          </div>
          <div class="col-md-6">
            <img src="../../assets/images/burger01.jpg" alt="burger" height="300" width="435">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>