<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h4>FoodParadise</h4>
                        <h6>YOUR HAPPY PLACE</h6>
                        <div class="reservation">
                            <a href="#" target="">Make a Reservation</a>                       
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="image-content">
                    <div class="Slider">
                      
                      <div class="item">
                        <div class="img-right">
                            <img src="assets/images/Right2.jpg" alt="">
                        </div>
                      </div>
                
                      <div class="item">
                        <div class="img-right">
                            <img src="assets/images/Carbonara.jpg" alt="">
                        </div>
                      </div>
                      
                      <div class="item">
                        <div class="img-right">
                            <img src="assets/images/burger.jpg" alt="">
                        </div>
                      </div>

                      <div class="item">
                        <div class="img-right">
                            <img src="assets/images/tteokbokki.jpg" alt="">
                        </div>
                      </div>

                      <div class="item">
                        <div class="img-right">
                            <img src="assets/images/beverage.jpg" alt="">
                        </div>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>